@import "./reset.scss";
@import "./variables.scss";
@import "./typography.scss";

body {
  font-family: Gilroy;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 28px 20px 20px;

  &__subtitle {
    text-transform: uppercase;
  }

  &__paragraph {
    padding: 9px 0;
  }
}