:root {
  --navy-black: #181833;
  --blue: #33b1e8;
  --dark-gray: #7d7d90;
  --mid-gray: #b5ced4;
  --green-gradient-from: #33cc9b;
  --green-gradient-to: #33cc74;
  --gray: #f5f9fa;
  --white: #ffffff;
  --black: #000000;
}
